[submodule "publc"]
	path = publc
	url = https://github.com/RocileneCosta/RocileneCosta.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/RocileneCosta/RocileneCosta.github.io.git
	branch = master
